body {
  padding: 5em;
  font-size: 1.1em;
}

.form {
  width: 200px;
  border: 2px solid #aaa;
  border-radius: 3px;
  padding: 20px;
}

label {
  font-size: 1em;
  font-weight: bold;
}

.result {
  font-size: 1.1em;
  border: 2px solid #aaf;
  border-radius: 3px;
  padding: 20px;
  width: 240px;
}
